@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Jost";
    scroll-behavior: smooth;
    background-color: #DDDDDA;
    color: #2D2424;
}

header {
    position: sticky;
    top: 0; 
    z-index: 100;
}

nav {
    display: flex;
    background-color: #DDDDDA;
    padding: 20px 120px;
    width: auto;
    justify-content: space-evenly;
}

nav a {
    font-size: 18px;
    color: #2D2424;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #FC8621;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding-inline: 14rem;
    position: relative;
    overflow: hidden;
}

.card-membros img {
    border-radius: 50%;
}

h1 {
    font-size: xx-large;
}

.social-icon {
    font-size: 36px; 
    transition: transform 0.3s ease-in-out;
}

a:hover .fa,
a:hover .fab {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #FC8621;
}




footer {
    display: grid;
    place-items: center;
    padding: 1%;
    opacity: 70%;
}